<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    Hello <%= email %>
    <section>
        <h3>Insert Data</h3>
        <form method="POST" action="/meals/insert">
            <div>
                <label>Date: </label>
                <input type="date" name="date"><br/><br/>
            </div>
            <div>
                <label>Meal Name: </label>
                <input type="text" name="mealName"><br/>
            </div>
            
            <div>
                <label>Description: </label>
                <input id="foodItem" type="text" placeholder="Enter Meal Description" name="description" class="inputelements" required><br><br>
            </div>
            <div>
                <label>User_Id: </label>
                <input type="text" name="user_id" value=<%= id %>><br/>
            </div>
            <div>
                <label >Calories :</label>
                <input id="calories" type="number" value="number" name="calorie" required>
                <input type="button" value="Get calories from Neutrionix.com" onclick="getCalorie()" style="background-color:white; border:1px solid black"><br><br>
            </div>
            
            <button type="submit">Insert</button>

            <script>
                function getCalorie(){
                    let foodItem = document.getElementById("foodItem").value;
                    fetch("http://localhost:3000/api/fetch/fetchCalorie",{
                        method : 'GET',
                        headers : {
                            'Content-Type' : 'application/json',
                            'body' : foodItem,
                        }
                    }).then((response) => {
                        return response.json();
                    }).then((data) => {
                        document.getElementById("calories").value=data;
                    }).catch((err) => {
                        console.log(err.message);
                    })
                };           
            </script>
        </form>
    </section>
   
<form method="POST" action="/auth/signout">
    <button type="submit">Sign Out</button>
</form>
<body>
</html>
