
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" type="text/css" href="/public/css/style.css"> -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">     
    </head>
    <body >
        <div class="container">
            <div class="header-name">
                <h1>Nutrify</h1>
            </div>
            <div class="header-signin">
                <a href='/auth/signin'><button id="signinbtn">Sign In</button></a>
            </div>
            <div class="header-signup">
                <a href='/auth/signup'><button id="signupbtn">Sign Up</button></a>
            </div>
        </div>
        <div class = homeBody>
            <p id = "text">
                <br>
            </p>
        </div>
        <div id="features">
            
        </div>
        
    </body>

<!-- <body> 
    <a href="/auth/signup">Sign up</a>
    <br/>
    <a href="/auth/signin">Sign in</a>
</body> -->
</html>